<div class="page-header">
  <h3>New Search Synonym</h3>
</div>

<%= simple_form_for [:synonyms, section, @search_reference], html: { class: 'search-reference-form' } do |f| %>
  <div class='row'>
    <div class='col-sm-6'>
      <%= f.input :title, label: 'Synonym',  input_html: { class: 'form-control' } %>
    </div>
  </div>

  <div class='form-actions'>
    <%= f.button :submit, class: 'btn btn-success', data: { 'disable-with' => 'Working' } %>
    <%= link_to "Back", :back, class: 'btn' %>
  </div>
<% end %>
