<div class="page-header">
  <h1>Edit Section Note</h1>
</div>

<%= simple_form_for @section_note do |f| %>
  <div class='row'>
    <div class='span12'>
      <%= f.input :section, readonly: true, input_html: { class: 'span6' } %>
    </div>
  </div>

  <%= render 'fields', f: f %>
<% end %>
