<div class="page-header">
  <h1>New Section Note</h1>
</div>

<%= simple_form_for @section_note do |f| %>
  <div class='row'>
    <div class='span12'>
      <%= f.input :section_id, as: :select, collection: @sections, include_blank: false, input_html: { class: 'span6' } %>
    </div>
  </div>

  <%= render 'fields', f: f %>
<% end %>
