<div class="page-header">
  <h1>Edit Measure Type</h1>
</div>

<%= simple_form_for measure_type, url: measure_type_path(measure_type), class: 'footnote-form' do |f| %>
  <div class='row'>
    <div class='span12'>
      <%= f.input :description, as: :text, input_html: { class: 'span6' } %>
    </div>
  </div>

  <div class='form-actions'>
    <%= f.button :submit, class: 'btn btn-primary', data: { 'disable-with' => 'Working' } %>
    <%= link_to "Back", :back, class: 'btn' %>
  </div>
<% end %>
