<div class='row'>
  <div class='col-sm-6'>
    <%= f.input :content, as: :text, input_html: { class: 'form-control', rows: 12} %>
  </div>
  <div class='col-sm-6'>
    <%= f.label :preview, required: false %>
    <div class='well' data-preview='govspeak' data-preview-for='#chapter_note_content'>
      <%= @chapter_note.preview %>
    </div>
  </div>
</div>
